<ng-template #loader>
    <mat-grid-list cols="1">
        <mat-grid-tile>
          <mat-spinner></mat-spinner>
        </mat-grid-tile>
      </mat-grid-list>
</ng-template>


    <div *ngIf="hero; else loader" class="grid p-2" >
        <mat-card class="col-12 md:col-6" [ngStyle]="{height: 300}">
          <mat-card-header>
            <mat-card-title>
              {{ hero.alterEgo }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ hero.superhero }}
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="hero | heroImage" [alt]="hero.superhero"  />
        </mat-card>
      
        <mat-card class="col-12 md:col-6" [ngStyle]="{height: 300}">
          <mat-card-header>
            <mat-card-title>Información</mat-card-title>
            <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
          </mat-card-header>
      
          <mat-card-content>
            <mat-list>
              <mat-list-item>{{ hero.firstAppearance }}</mat-list-item>
              <mat-list-item>{{ hero.characters }}</mat-list-item>
              <mat-list-item>{{ hero.publisher }}</mat-list-item>
              <mat-list-item>{{ hero.alterEgo }}</mat-list-item>
            </mat-list>
      
            <button mat-button color="warn" (click)="goBack()">Regresar</button>
          </mat-card-content>
        </mat-card>
      </div>


