<ng-template #loader>
    <mat-grid-list cols="1">
        <mat-grid-tile>
          <mat-spinner></mat-spinner>
        </mat-grid-tile>
      </mat-grid-list>
</ng-template>


    <div *ngIf="hero; else loader" class="grid p-2" >
        <mat-card class="col-12 md:col-6" [ngStyle]="{height: 200}">
          <mat-card-header>
            <mat-card-title>
              {{ hero.alterEgo }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ hero.superhero }}
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="hero | heroImage" [alt]="hero.superhero"  />
        </mat-card>
      
        <mat-card class="col-12 md:col-6" [ngStyle]="{height: 300}">
          <mat-card-header>
            <mat-card-title>Info</mat-card-title>
            <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
          </mat-card-header>
      
          <mat-card-content>
            <mat-list>
              <mat-list-item><span class="font-medium">First appearance:</span> {{ hero.firstAppearance }}</mat-list-item>
              <mat-list-item><span class="font-medium">Characters:</span> {{ hero.characters }}</mat-list-item>
              <mat-list-item><span class="font-medium">Publisher:</span> {{ hero.publisher }}</mat-list-item>
              <mat-list-item><span class="font-medium">Alter ego:</span> {{ hero.alterEgo }}</mat-list-item>
            </mat-list>         
          </mat-card-content>
        
            <mat-card-actions>
              <button mat-flat-button color="warn" class="m-2" (click)="goBack()">Back</button>
              <button mat-flat-button color="primary" class="m-2" (click)="goToEdit()">Edit</button>
            </mat-card-actions>
       
        </mat-card>
      </div>


