  <mat-card (click)="goToHero(hero.id)">
    <mat-card-header>
      <mat-card-title>
        {{ hero.superhero }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ hero.alterEgo }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="hero | heroImage" [alt]="hero.superhero" />
    <mat-card-content>
      <mat-chip-set>
        @for (character of hero.characters.split(","); track $index) {
        <mat-chip>
          {{ character }}
        </mat-chip>
        }
      </mat-chip-set>
    </mat-card-content>
  </mat-card>

