<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-header class="mb-3">
        <mat-card-title>{{ titleForm }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="grid" [formGroup]="heroFormGroup">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Superhero</mat-label>
            <input
              matInput
              placeholder="superhero"
              formControlName="superhero"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter ego</mat-label>
            <input
              matInput
              placeholder="alter ego"
              formControlName="alterEgo"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>First appearance</mat-label>
            <input
              matInput
              placeholder="first appearance"
              formControlName="firstAppearance"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Publisher</mat-label>
            <mat-select
              placeholder="select a publisher"
              formControlName="publisher"
            >
              @for (publisher of publishers; track $index) {
              <mat-option [value]="publisher.id">{{
                publisher.desc
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Characters</mat-label>
            <textarea
              matInput
              placeholder="characters separated by comma"
              formControlName="characters"
            ></textarea>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Image url</mat-label>
            <input
              matInput
              placeholder="Image url"
              formControlName="imageUrl"
            />
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button class="m-2" mat-flat-button color="warn" (click)="deleteHero()">Remove</button>
        <button class="m-2" mat-flat-button color="primary" (click)="updateHero()">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-12 sm:col-6">
    <mat-card>
      <img
        [style]="{'max-height.px':500}"
        mat-card-image
        [src]="currentHero | heroImage"
      />
    </mat-card>
  </div>
</div>
