<mat-card class="flex">
  <mat-card-content>
    <form class="grid">
      <mat-form-field class="col-12">
        <mat-label>Username</mat-label>
        <input matInput placeholder="username" />
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" type="password" />
      </mat-form-field>
    </form>

    <mat-card-footer>
      <button mat-flat-button color="primary" (click)="onLogin()">Login</button>

      <div class="flex justify-content-end mt-3">
        <a routerLink="auth/register">Register</a>
      </div>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
