<div class="flex flex-column p-2">

<mat-form-field>
    <mat-label>
        Buscar Heroe
    </mat-label>
    <input type="text"
      placeholder="Busca un heroe"
      matInput
      (input)="searchHero()"
      [formControl]="inputAutocompleteHero"
      [matAutocomplete]="autoCompleteHero"
    >
    <mat-autocomplete #autoCompleteHero="matAutocomplete">
       @for (suggest of heroSuggestions; track $index) {
        <mat-option
         [routerLink]="['/heroes', suggest.id]"
        >
           {{suggest.superhero}}
        </mat-option>
       }   
    </mat-autocomplete>
</mat-form-field>

</div>