<mat-card>
    <mat-card-title> Register </mat-card-title>
    <mat-card-content>
      <form class="grid">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="username" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" type="password" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <div class="col-12">
          <button mat-flat-button color="primary">Submit</button>
      </div>
      <div class="flex justify-content-end mt-3">
          <a routerLink="auth/login">I already have registered</a>
      </div>
    </mat-card-footer>
  </mat-card>
